# sbt specific
dist/*
target/
boot/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# our local mvn repo
artifacts/

# data folders
data/in/
data/out/

.idea*
.sublime*
.atom*
.ensime*
.tags*
